/* content card - styles starts here */
@media screen and (min-width: 1440px) {
  .card-row {
    margin-left: -1.25rem; /* Converted from 20px */
    margin-right: -1.25rem; /* Converted from 20px */
  }
}

.content-card {
  padding: 2rem; /* Converted from 32px */
  margin: 0rem 0rem 2rem 0rem; /* Converted from 0px 0px 32px 0px */
  background: $white;
  // box-shadow: 0rem 1.25rem 1.5625rem -0.3125rem rgba(0, 0, 0, 0.1), 0rem 0.5rem 0.625rem -0.375rem rgba(0, 0, 0, 0.1);
  box-shadow: 0rem 0.25rem 0.375rem -0.0625rem rgba(0, 0, 0, 0.1), 0rem 0.125rem 0.25rem -0.125rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem; /* Converted from 16px */
  height: calc(100% - 2.5rem); /* Converted from 40px */
  transition: 0.2s ease all;

  @include media-breakpoint-up(xl){
    margin: 0rem 0.5rem 2.5rem 0.5rem; /* Converted from 0px 8px 40px 8px */
  }

  h3 {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    @include text-style($font-size-lg, $line-height-base, 600);
    color: $primary;
  }

  p {
    @include text-style($font-size-base, $line-height-base, 400);
    color: $primary;
    margin-bottom: 0;
  }
  &:last-of-type {
    margin-bottom: 1.5rem !important; /* Converted from 24px */
    @include media-breakpoint-up(xl){
    margin-bottom: 2rem !important; /* Converted from 32px */
    }
  }

  &:hover{
    background: $light-green-bg-hover;
    cursor: pointer;
  }
}

/* content card  - styles ends here */