/* header navigation tabs - styles starts here */
.nav-tabs {
  background: #F0EFEF;
  padding: 0.5rem 1.5rem; // Converted 8px to 0.5rem and 24px to 1.5rem
  border-bottom: 0;
  position: relative;
  @include media-breakpoint-up(md){
    padding: 0.5rem 2.5rem; // Converted 8px to 0.5rem and 40px to 2.5rem
  }

  .nav-link {
    @include text-style($font-size-base, $line-height-base, 400);
    border-radius: 0.5rem; // Converted 8px to 0.5rem
    background: #F0EFEF;
    border: 0;
    color: $primary;
    padding: 0.625rem 0.75rem; // Converted 10px to 0.625rem and 12px to 0.75rem
    margin-bottom: 0;
    transition: all ease 0.2s;
    @include media-breakpoint-up(md){
      padding: 0.625rem 1.25rem; // Converted 10px to 0.625rem and 20px to 1.25rem
      font-size: $font-size-md;
    }

    &.active {
      background: $primary-green;
      color: #fff;
      &:hover{
        color: #fff;
      }
    }

    &:hover{
      color: $primary-green;
    }
  }
}

header.full-width + .nav-tabs{
  @include media-breakpoint-up(md) {
    &::before{
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      width: 100vw; 
      background: #F0EFEF; 
      z-index: -1; 
      height: 100%;
      margin-left: calc(-50vw + 48%);
      box-shadow: 1.5rem 0px 0px #F0EFEF;
    }
  }
}

/* header navigation tabs  - styles ends here */