/* header - styles starts here */
header {
  background: $header-bg-green;
  background: #cdefe1;
  padding: 1rem 1.5rem;
  position: relative;

  @include media-breakpoint-up(md){
    padding-right: 376px;
    padding: 1rem 2.5rem;;
  }

  &.full-width{
    @include media-breakpoint-up(md) {
      &::before{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        width: 100vw; 
        background: #cdefe1; 
        z-index: -1; 
        height: 100%;
        margin-left: calc(-50vw + 48%);
        box-shadow: 24px 0px 0px #cdefe1;
      }
    }
  }
  
  h1.h3 {
    color: $header-title-color;
    @include heading-style($font-size-3xl, $line-height-2xl);
    padding: 0;
    margin-bottom: 0.5rem;
    word-break: break-all;

    @include media-breakpoint-up(md){
      word-break: normal;
    }
  }

  ul {
    color: $primary;
    padding-left: 1.25rem;
    @include text-style($font-size-md, $line-height-base);
  }

  p {
    @include text-style($font-size-md, $line-height-base);
    color: $primary;

    b {
      font-weight: 600;
    }

    a {
      color: $header-title-color;
      font-weight: 500;
    }
  }

  &.no-breadcrumb{
    padding:2rem 1.5rem 1.5rem;
    
    @include media-breakpoint-up(xl) {
      padding: 3rem 2.5rem;
    }
  }
}

.header-back {
  @include text-style($font-size-sm, $line-height-xs, 600);
  color: $primary-green;
  background: none;
  background-image: url('data:image/svg+xml,<svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.43436 0.315641C5.60521 0.486495 5.60521 0.763505 5.43436 0.934359L1.80622 4.5625H11.25C11.4916 4.5625 11.6875 4.75838 11.6875 5C11.6875 5.24162 11.4916 5.4375 11.25 5.4375H1.80622L5.43436 9.06564C5.60521 9.2365 5.60521 9.5135 5.43436 9.68436C5.2635 9.85521 4.9865 9.85521 4.81564 9.68436L0.440641 5.30936C0.269786 5.1385 0.269786 4.8615 0.440641 4.69064L4.81564 0.315641C4.9865 0.144786 5.2635 0.144786 5.43436 0.315641Z" fill="%23237B6C"/></svg>');
  background-repeat: no-repeat;
  background-position: 0 center;
  border: 0;
  padding: 0.5rem 0 0.5rem 1.25rem;
  transition: all ease 0.2s;

}

/* header - styles ends here */