/* newsletter - styles starts here */
.newsletter {
  max-width: 840px;
  padding: 0;
  background-color: $primary-light;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: auto;
  @include media-breakpoint-up(md) {

  &::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100vw; 
    background: $primary-light; 
    z-index: -1; 
    height: 100%;
    margin-left: calc(-50vw + 48%);
    box-shadow: 24px 0px 0px $primary-light;
  }
}
.container{
  
  padding: 24px 24px;

  @include media-breakpoint-up(md){
    padding: 32px 32px;
  }
}
  h4 {
    @include heading-style($font-size-2xl, $line-height-xl, 500);

    display: flex;
    align-items: center;
    color: $black;
    padding-bottom: 1rem;
  }
  .row{
    margin-bottom: 1rem;
  }
  .form-label {
    @include text-style($font-size-xs, $line-height-sm, 400);
    padding: 0.5rem 0.25rem;
    display: flex;
    align-items: center;
    color: $primary;
  }

  input.form-control {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.6875rem 1rem;
    gap: 0.5rem;
    min-height: 2rem;
    line-height: 1.5rem;
    border: 1px solid #c4ccca;
    background: $white;
    border-radius: .5rem;

    &:focus-visible {
      outline: 0;
      border: 1px solid #2f7d69;

    }
  }

  button.btn {
    @include text-style($font-size-sm, $line-height-xs, 600);
    border-radius: .5rem;
    background: $primary-green;
    border: 0;
    color: #fff;
    padding: 1rem;
    margin-bottom: 0;
    transition: all ease 0.2s;

    &:hover {
      color: $primary-green-hover;
      background: $secondary-green;
    }
  }

  p.info {
    @include text-style($font-size-xs, $line-height-sm, 400);

    color: $black;
    padding: 1.5rem 1.5rem 1.5rem 0;
    margin-bottom: 0;
  }

  #recaptcha-container + p{
    padding-left: 1.5rem;
  }
}

/* newsletter - styles ends here */